* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: 100vh;
}

.sidebar {
  margin-left: 25px;
  height: 100vh;
}

.map {
  /* position: fixed; */
  width: 60vw;
  height: 100vh;
}

/* Controls */

.ol-control button{
  background-color: rgba(30, 115, 65, 0.4)
}

.ol-control button:hover{
  background-color: rgba(30, 115, 65, 1)
}

.ol-control button:focus{
  background-color: rgba(30, 115, 65, 0.8)
}

.ol-zoom{
  /*margin-left: 10px*/
  left: unset;
  right: 15px
}

.ol-zoom .ol-zoom-in{
  border-radius: 15%
}

.ol-zoom .ol-zoom-out{
  border-radius: 15%
}

.ol-overviewmap{
  bottom: 60px
}

.btn-success{
  background-color: rgb(4, 138, 66);
}

.btn-default{
  background-color: rgb(255, 255, 255);
}